a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

.cards .upper-cards, .cards .container, .cards, .category .wrapper .container, .main .wrapper, header .nav-container, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.orange {
  border: 1px solid #fc543a;
  color: #fc543a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 40%;
  border-radius: 5px;
}
.btn.orange:hover {
  border: 1px solid #fc543a;
  color: #fc543a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 40%;
  border-radius: 5px;
  background-color: #fc543a;
  color: #fff;
  cursor: pointer;
}
.btn.blue {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 40%;
  border-radius: 5px;
}
.btn.blue:hover {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 40%;
  border-radius: 5px;
  background-color: #0085FF;
  color: #fff;
  cursor: pointer;
}
.btn.white {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 40%;
  border-radius: 5px;
}
.btn.white:hover {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 40%;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  color: #fc543a;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

header {
  padding: 30px 0;
}
header .logo {
  display: flex;
  align-items: baseline;
}
header .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
header .logo .circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fc543a;
}
header .nav-container .nav-links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  margin-right: 25px;
}
header .nav-container .nav-icons {
  padding-left: 25px;
  border-left: 1px solid #939393;
}
header .nav-container .nav-icons svg:first-child {
  margin-right: 15px;
}

section {
  margin-bottom: 60px;
}

.main {
  background-color: #fc543a;
}
.main .block {
  width: 45%;
}
.main .block .cover {
  position: relative;
  width: 100%;
  padding-top: 70%;
}
.main .block .cover img, .main .block .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .block .cover img {
  transform: scaleX(-1);
}
.main .block h1 {
  font-family: "Permanent Marker";
  font-size: 56px;
  color: #fff;
  margin-bottom: 25px;
}

.category .wrapper .container:first-child {
  margin-bottom: 3.5%;
}
.category .wrapper .container .category-card {
  width: 31%;
  transition: 500ms;
}
.category .wrapper .container .category-card img {
  transition: 500ms;
}
.category .wrapper .container .category-card h3 {
  transition: 500ms;
}
.category .wrapper .container .category-card:hover {
  cursor: pointer;
  scale: 1.05;
}
.category .wrapper .container .category-card:hover h3 {
  text-shadow: 2px 2px 0 #fc543a;
}
.category .wrapper .container .category-card:hover img {
  filter: blur(1px) saturate(0);
}
.category .wrapper .container .category-card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.category .wrapper .container .category-card .cover img, .category .wrapper .container .category-card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category .wrapper .container .category-card .cover h3 {
  position: absolute;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  bottom: 45%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 24px;
}
.category .wrapper .container .category-card.big {
  width: 65.5%;
}
.category .wrapper .container .category-card.big .cover {
  position: relative;
  width: 100%;
  padding-top: 47.5%;
}
.category .wrapper .container .category-card.big .cover img, .category .wrapper .container .category-card.big .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .container {
  flex-wrap: wrap;
}
.cards .container .card {
  margin-top: 35px;
  width: 31%;
}
.cards .container .card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.cards .container .card .cover img, .cards .container .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .container .card .cover img {
  object-fit: contain;
  scale: 0.8;
  z-index: 2;
}
.cards .container .card .cover .circle {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: #fff;
  top: 20%;
  left: 20%;
}
.cards .container .card .card-content {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cards .container .card .card-content p {
  margin-top: 12px;
}
.cards .upper-cards {
  flex-direction: column;
}
.cards .upper-cards h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 28px;
}
.cards .upper-cards nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.cards .upper-cards nav a {
  color: #000;
  transition: 500ms;
  margin-right: 25px;
}
.cards .upper-cards nav a:last-child {
  margin-right: 0;
}
.cards .upper-cards nav a:hover {
  color: #fc543a;
  border-bottom: 1px solid #fc543a;
}
.cards .button-under {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .button-under .btn {
  width: 15%;
  padding: 16px;
  margin-top: 50px;
}
.cards .button-under .btn.orange {
  width: 15%;
}

/*# sourceMappingURL=style.css.map */
